body, html {
  margin: 0;
  background-color: #141414; }

.wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
